.markdown-preview-content ul {
    list-style-type: disc !important;
    padding-left: 1.5rem !important;
  }

.markdown-preview-content ol {
list-style-type: decimal !important;
padding-left: 1.5rem !important;
}

.markdown-preview-content pre {
    overflow-x: auto !important;
    max-width: 100% !important;
    padding: 1rem !important;
}

.markdown-preview-content pre code {
    white-space: pre !important;
    word-wrap: normal !important;
}